# requirements.txt
Flask>=2.0
google-generativeai
requests
beautifulsoup4
urllib3
Werkzeug
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn # Recommended web server for App Engine